<%% content_for :title do %><%= singular_name %><%% end %>
<%% content_for :comment do %><%= singular_name %><%% end %>

<fieldset>
  <legend>基本信息</legend>
  <table class="table-list" width="98%" border="1" >
<% for attribute in attributes -%>
	<tr><td>
  <%= attribute.column.human_name %>:</td><td colspan="3">
  <%%=h @<%= singular_name %>.<%= attribute.name %> %></td></tr>

<% end -%>    
  </table>
</fieldset>

<%%= link_to '编辑', edit_<%= singular_name %>_path(@<%= singular_name %>) %> |
<%%= link_to '返回', <%= plural_name %>_path %>
